
.horlogeSelectie__cover {
  max-width: 100px;
}

.horlogeSelectie__rij--accent {
  background-color: #def;
}
.horlogeSelectie__data-cel {
  padding: 1em;
  vertical-align: top;
}
.horlogeSelectie__data-cel:nth-child(3) {
  padding: 0;
}

.horlogeSelectie {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 1em;
  margin-bottom: 1em;
}

.horlogeSelectie__prijs {
  font-size: 2em;
}
